In [1]:
from utils.gsheet import GoogleSheet
from data_analysis import *
from constant import *

In [2]:
gs = GoogleSheet.read_from(STUDY_TIME_TABLE_NAME)
df_dur = gs.sheet(sheet_name=SHEET1, least_col_name=START_TIME)
df_eve = gs.sheet(sheet_name=SHEET2, least_col_name=NAME)
df = merge_dur_eve(df_dur, df_eve)
    
    
df.head()

     name        date start_time end_time
0   Alpha  2020.11.09      11:00    12:00
1   Delta  2020.11.09      11:00    12:00
2   Delta  2020.11.09      08:00    15:00
3    Beta  2020.11.09      08:00    15:00
4  Diqing  2020.11.09      19:00    23:00

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76 entries, 0 to 7
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        76 non-null     object
 1   date        76 non-null     object
 2   start_time  76 non-null     object
 3   end_time    76 non-null     object
dtypes: object(4)
memory usage: 3.0+ KB

In [4]:
df_r = preprocess_data(df)
df_r.head()

,name,date,start_time,end_time,start_time_datetime,end_time_datetime,minutes,date_datetime
0,Alpha,2020.11.09,11:00,12:00,1900-01-01 11:00:00,1900-01-01 12:00:00,60.0,2020-11-09
1,Delta,2020.11.09,11:00,12:00,1900-01-01 11:00:00,1900-01-01 12:00:00,60.0,2020-11-09
2,Delta,2020.11.09,08:00,15:00,1900-01-01 08:00:00,1900-01-01 15:00:00,420.0,2020-11-09
3,Beta,2020.11.09,08:00,15:00,1900-01-01 08:00:00,1900-01-01 15:00:00,420.0,2020-11-09
4,Diqing,2020.11.09,19:00,23:00,1900-01-01 19:00:00,1900-01-01 23:00:00,240.0,2020-11-09

In [5]:
df_r = this_week_table(df_r)
df_r.head()

,name,date,start_time,end_time,start_time_datetime,end_time_datetime,minutes,date_datetime
60,Nia.Dai,2020.11.30,16:20,18:32,1900-01-01 16:20:00,1900-01-01 18:32:00,132.0,2020-11-30
61,Congyu,2020.11.30,19:00,19:20,1900-01-01 19:00:00,1900-01-01 19:20:00,20.0,2020-11-30
62,Amber,2020.11.30,21:30,23:00,1900-01-01 21:30:00,1900-01-01 23:00:00,90.0,2020-11-30
63,Chen Dong,2020.11.30,21:30,23:00,1900-01-01 21:30:00,1900-01-01 23:00:00,90.0,2020-11-30
64,Nia.Dai,2020.11.30,21:30,23:00,1900-01-01 21:30:00,1900-01-01 23:00:00,90.0,2020-11-30